.subscribe{
    background-color: rgb(200, 0, 0); /*Button background color*/
    color: white; /*Text color*/
    border: none; 
    padding: 10px; /*Padding inside the button*/
    border-radius: 2px; /*Border radius of the button*/
    cursor: pointer; /*Changes the cursor when hovering over the button*/
    margin-right: 8px; /*Spacing between buttons*/
    transition: opacity 0.5s; /*Transition effect for button hover*/
    margin-bottom: 8px; /*Spacing between buttons*/
    vertical-align: top; /*Aligns the button on the top of other buttons*/
}

.subscribe:hover{
    opacity: 0.7; /*Changes the opacity of the button hover*/
}

.subscribe:active{
    opacity: 0.5; /*Changes the opacity of the button click*/   
}


.join {
    color: rgb(76, 76, 241);
    background-color: none;
    border-radius: 2px;
    border-color:  rgb(76, 76, 241);
    padding-left: 10px;
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    border-width: 1px;
    cursor: pointer;
    border-style: solid; 
    transition: background-color 1s;
    transition: color 1s;
    margin-bottom: 8px;
}

.join:hover{
    background-color: rgb(51, 138, 196);
    color: white;
}

.join:active{
    opacity: 0.85;
}

.tweet{
    height: 36px;
    width: 74px;
    background-color: rgb(51, 138, 196);
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px; 
    margin-bottom: 8px;
    transition: box-shadow 0.15s;
    vertical-align: top;
}


.tweet:hover{
        
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
    
}

.tweet:active{
    opacity: 0.7;
}

.amazon{
    color: black;
    background-color: rgb(255, 216, 20);
    margin-bottom: 8px;
    height: 30px;
    width: 160px;
    border: none;
    border-radius: 15px;
    font-style: bold;
    cursor: pointer;
}

.amazon:active{
    opacity: 0.7;
}

.uber{
    margin-bottom: 8px;
    color: white;
    background-color: black;
    height: 36px;
    width: 120px;
    border: none;
    cursor: pointer;
}

.uber:active{
    opacity: 0.5;
}

.uber:hover{
    opacity: 0.7;
    transition: opacity 0.1s;
}

.download{
    background-color: white;
    border-color: rgb(83, 87, 71);
    border-width: 0.1px;
    width: 100px;
    height: 36px;
    border-radius: 3px;
    color: rgb(83, 87, 71);
    transition: color 0.15s;
    transition: background-color 0.15s;
    cursor: pointer;
}

.download:hover{
    background-color: rgb(83, 87, 71);
    color: white;
}

.Sign{
    height: 36px;
    width: 100px;
    font-size: medium;
    font-family:Georgia;
    color: white;
    border-radius: 3px;
    border-width: 0;
    font-style: bold;
    background-color: rgb(12, 192, 12);
    transition: box-shadow 0.5s;
    cursor: pointer;
    transition: opacity 0.15s;
}

.Sign:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Sign:active{
    opacity: 0.8;
}

.strech{
    padding: 10px;
    transition: padding 0.25s;
}

.strech:hover{
    padding: 20px;

}
.Zoom{
    padding: 10px;
    transition: padding 0.25s;
    border: none;
    border-radius: 5px;
    background-color: aqua;
    color: blue;
    cursor: pointer;

}
.Zoom:hover{
    padding: 50px;
    color: aqua;
    background-color: blue;


}
.Zoom:active{
    opacity: 0.8;
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 6px 6px 10px black;
}