body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 77px; /* Adjust height as needed */
}

header {
  background-color: #3498db;  /* Blue header */
  color: #fff;                /* White text */
  padding: 20px;
  display: flex;
  justify-content: left;
  align-items: left;
  overflow: auto;
}

h1, h2 {
  text-align: left;
}

nav {
  background-color: #eee;  /* Light gray background for navigation */
  padding: 10px;          /* Add some padding */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;         /* Make list items display horizontally */
}

nav li {
  margin-right: 20px;      /* Add space between list items */
}

a {
  text-decoration: none;
  color: inherit;         /* Inherit color from parent (sidebar) */
}

/* Style for the Home Link */
a[href="https://srikar.pages.dev/"] {
  position: absolute; /* Make it positioned absolute */
  top: 10px; left: 10px; /* Set top and left position */
}
