body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


header {
  background-color: #3498db; /* Blue header */
  color: #fff; /* White text */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1, h2 {
  margin: 0;
}

.sidebar {
  position:static;
  top: 0;
  left: 0;
  height: 900px;
  width: 150px;
  background-color: #e74c3c; /* Red sidebar */
  color: #fff; /* White text */
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent (sidebar) */
}

main {
  padding: 20px;
  margin-left: 200px; /* Make space for the sidebar */
}

.srik {
  text-align: center;
  position:center;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button{
  text-align: left;
  margin-top:auto;
}


/* Style for the Home Link */
a[href="https://srikar.pages.dev/"] {
  position: absolute; /* Make it positioned absolute */
  top: 10px; left: 10px; /* Set top and left position */
}

.home {
  margin-top: 23px;
  color: #eee;

}


.subscribe{
  background-color: rgb(200, 0, 0); /*Button background color*/
  color: white; /*Text color*/
  border: none; 
  padding: 10px; /*Padding inside the button*/
  border-radius: 2px; /*Border radius of the button*/
  cursor: pointer; /*Changes the cursor when hovering over the button*/
  margin-right: 8px; /*Spacing between buttons*/
  margin-top: 9px;
  transition: opacity 0.5s; /*Transition effect for button hover*/
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 8px;/*Spacing between buttons*/
  vertical-align: top; /*Aligns the button on the top of other buttons*/
}

.subscribe:hover{
  opacity: 0.7; /*Changes the opacity of the button hover*/
}

.subscribe:active{
  opacity: 0.5; /*Changes the opacity of the button click*/   

}


.join {
  color: rgb(76, 76, 241);
  background-color: none;
  border-radius: 2px;
  border-color:  rgb(76, 76, 241);
  padding-left: 10px;
  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 9px;
  border-width: 1px;
  cursor: pointer;
  border-style: solid; 
  transition: background-color 1s;
  transition: color 1s;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 8px;
  vertical-align: top;
}

.join:hover{
  background-color: rgb(51, 138, 196);
  color: white;

}

.join:active{

  opacity: 0.85;
}

.tweet{
  height: 36px;
  width: 74px;
  background-color: rgb(51, 138, 196);
  border-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px; 
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}




.tweet:hover{
      
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
  
}

.tweet:active{
  opacity: 0.7;
}

.amazon{
  color: black;
  background-color: rgb(255, 216, 20);
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 8px;
  height: 30px;
  width: 160px;
  border: none;
  border-radius: 15px;
  font-style: bold;
  vertical-align: top;
  cursor: pointer;
}

.amazon:active{
  opacity: 0.7;
}

.uber{
  margin-bottom: 8px;
  color: white;
  background-color: black;
  height: 36px;
  width: 120px;
  border: none;
  cursor: pointer;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 8px;
  vertical-align: top;
}

.uber:active{
  opacity: 0.5;
}

.uber:hover{
  opacity: 0.7;
  transition: opacity 0.1s;
}

.download{
  background-color: white;
  border-color: rgb(83, 87, 71);
  border-width: 0.1px;
  width: 100px;
  height: 36px;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 3px;
  color: rgb(83, 87, 71);
  transition: color 0.15s;
  transition: background-color 0.15s;
  cursor: pointer;
  vertical-align: top;
}

.download:hover{
  background-color: rgb(83, 87, 71);
  color: white;
}

.Sign{
  height: 36px;
  width: 100px;
  font-size: medium;
  font-family:Georgia;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 8px;
  color: white;
  border-radius: 3px;
  border-width: 0;
  font-style: bold;
  background-color: rgb(12, 192, 12);
  transition: box-shadow 0.5s;
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top;
}

.Sign:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Sign:active{
  opacity: 0.8;
}

.strech{
  padding: 10px;
  transition: padding 0.25s;
  vertical-align: top;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 8px;
}

.strech:hover{
  padding: 20px;

}
.Zoom{
  padding: 10px;
  transition: padding 0.25s;
  border: none;
  border-radius: 5px;
  background-color: aqua;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 8px;
  color: blue;
  cursor: pointer;
  vertical-align: top;

}
.Zoom:hover{
  padding: 50px;
  color: aqua;
  background-color: blue;


}
.Zoom:active{
  opacity: 0.8;
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: 6px 6px 10px black;
}

.projectlist{
  margin-top: 23px;
  color:black;
  font-size: 20px;
  font-family:Georgia;
  margin-bottom: 10px;

}