body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 77 px;
  }
  
  header {
    background-color: #3498db; /* Blue header */
    color: #fff; /* White text */
    width: 90000 px;
    height: 47 px;
    padding: 20 px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  h1,h2
  {
    text-align: left;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin-bottom: 10 px;
  }
  
  a {
    text-decoration: none;
    color: inherit; /* Inherit color from parent (sidebar) */
  }
  
