body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498db; /* Blue header */
  color: #fff; /* White text */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  margin: 0;
}

.sidebar {
  position:static;
  top: 0;
  left: 0;
  height: 900px;
  width: 150px;
  background-color: #e74c3c; /* Red sidebar */
  color: #fff; /* White text */
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent (sidebar) */
}

main {
  padding: 20px;
  margin-left: 200px; /* Make space for the sidebar */
}

.srik {
  text-align: center;
  position:center;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button{
  text-align: left;
  margin-top:auto;
}